body {
    background-color: grey;
}

.title, .employee-name, .employee-id, .employee-dept, .employee-salary {
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.employee-photo {
    display: flex;
    justify-content: center;
    height: 400px;
}